name: Push_Docker Main

on:
  schedule:
    - cron:  '39 4,16 * * *'
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Get the Date
        run: echo "DATE=$(date +%d-%B-%Y)" >> $GITHUB_ENV
      -
        name: Push_Docker DEV
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            yanik39/ircnet:base
            ghcr.io/yanik39/ircnet-base:latest
            ghcr.io/yanik39/ircnet-base:${{ env.DATE }}
